{% extends 'main/base.html' %}

{% block content %}
<h1>Course List</h1>
<div>
    <ul>
        {% for course in courses %}
           <h2>{{course.title}}</h2>
           <div>
            <p>{{course.details}}</p>
            <p>Price GBP{{course.price}}</p>
            {% if course.beginners == True %}
                <p>Suitable for beginners</p>
            {% endif %}
            <a href="{% url 'enrol' course.id %}"><button>Enrol Now</button></a>
           </div>
        {% endfor %}
    </ul>
</div>
{% endblock %}