{% extends 'main/base.html' %}

{% block content %}

<h1>Welcome, {{ profile.user.username }}</h1>
    <div>
        <p>First Name {{profile.user.first_name}}</p>
        <p>Last Name {{profile.user.last_name}}</p>
        <p>Email {{profile.user.email}}</p>
        <p>Level {{profile.level}}</p>
        <h2>Enrolled Courses:</h2>
            <ul>
                {% for enrolment in enrolments %}
                    <li>{{ enrolment.course_title.title }} - Enrolled on: {{ enrolment.enrolment_date }}</li>
                {% endfor %}
            </ul>
        <a href="{% url 'edit_profile' %}"><button>Edit Details</button></a>
        <form method="post" action="{% url 'delete_profile' %}" onsubmit="return confirmDelete();">
            {% csrf_token %}
            <button type="submit">Delete Student</button>
        </form>
    </div>
</ul>

{% endblock %}